pkgbase = credhub-cli
	pkgdesc = CredHub CLI provides a command line interface to interact with CredHub servers
	pkgver = 2.7.0
	pkgrel = 1
	url = https://github.com/cloudfoundry-incubator/credhub-cli/releases/
	arch = any
	license = apache
	source = https://github.com/cloudfoundry-incubator/credhub-cli/releases/download/2.7.0/credhub-linux-2.7.0.tgz
	sha256sums = a453c937caedbd15c30a348a6fd4a717bb321ce7c077d137ef2ea28eb8befb8b

pkgname = credhub-cli

